* {
	box-sizing: border-box;
}

body{
	background-color: papayawhip;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}

.main-container-desktop{
	display: flex;
	flex-direction: row;
	width: 525px;
	height: 450px;
	border-radius: 15px;
	padding: 0;
	overflow: hidden;
}

.main-container-desktop .image-container {
	display: flex;
	width: 50%;
	height: 100%;
	border-radius: 15px 0 0 15px;
	margin: 0;
	padding: 0;
}

.main-container-desktop .image-container > img{
	border-radius: 15px 0 0 15px;
	width: 100%;
	height: 100%;
}

.main-container-desktop .data-container{
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	margin: 0;
	padding: 10px;
	border-radius: 0 15px 15px 0;
	color: #888;
	font-size: 14px;
}

.data-container > #perfume{
	font-size: 14px;
	align-self: flex-start;
	color: #888;
	letter-spacing: 5px;
	margin: 10px 8px 10px 8px;
}

.main-container-desktop .data-container > h2 {
	font-family: 'Fraunces', sans-serif;
	color: #222;
	font-size: 28px;
	margin: 7px;
}

.main-container-desktop .data-container > p {
	margin: 10px 8px 10px 8px;
}

.discount-price{
	font-size: 24px;
	color: rgb(55, 125, 106);
	margin: 10px 5px 10px 5px;
	font-weight: bold;
	font-family: 'Fraunces', serif;
}

.discount-price #original-price{
	font-size: 10px;
	text-decoration: line-through;
	font-weight: lighter;
	margin: 0 15px 0 15px;
	color: #888;
}

.cart-btn{
	padding: 10px;
	background-color: rgb(55, 125, 106);
	color: whitesmoke;
	border-radius: 8px;
	font-weight: bold;
	font-family: sans-serif;
	margin: 15px 8px 10px 8px;
}

.cart-btn:hover{
	background-color: rgb(44, 102, 83);
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
}

footer, a {
	text-decoration: none;
}

.main-container-mobile{
	display: none;
}

@media screen and (max-width: 505px){
	.main-container-desktop{
		display: none;
	}

	.main-container-mobile{
		display: flex;
		flex-direction: column;
		width: 90%;
		height: 90%;
		margin: 15px 0 15px 0;
	}

	.image-container-mobile{
		display: flex;
		width: 100%;
		height: 40%;
	}

	.image-container-mobile > img {
		width: 100%;
		border-radius: 15px 15px 0 0;
	}

	.data-container-mobile{
		background-color: whitesmoke;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		flex-direction: column;
		height: 60%;
		border-radius: 0 0 15px 15px;
		justify-content: flex-start;
		padding: 15px;
	}

	.data-container-mobile > #perfume {
		font-size: 14px;
		color: #888;
		margin: 2px;
	}

	.data-container-mobile > h2 {
		font-family: 'Fraunces', sans-serif;
		font-size: 27px;
		margin: 2px 0 2px 0;
	}

	.data-container-mobile > p {
		font-size: 15px;
		color: #888;
	}

	.data-container-mobile .discount-price{
		font-size: 24px;
		color: rgb(55, 125, 106);
		margin: 10px 5px 10px 5px;
		font-weight: bold;
	}

	.discount-price #original-price{
		font-size: 10px;
		text-decoration: line-through;
		font-weight: lighter;
		margin: 0 15px 0 15px;
		color: #888;
	}

	footer {
		display: none;
	}
}